h1 {
    text-align: center;
    font-size: 60px;
    font-style: oblique;
}

body {
    background-color: #ffe5d9;
    width: 800px;
    margin-top: 50px;
    margin-left: 400px;
}

.tomatoBread {
    width: 300px;
    height: 250px;
    margin-left: 250px;
    border:3px solid grey ;
    border-radius: 20px;
}

h3 {
    font-size: 30px;
    font-style: italic;
}

p {
    text-align: justify;
    font-size: 18px;
}

li {
    text-align: justify;
    font-size: 18px;
}

.return {
    font-size: 18px;
    margin-top: 20px;
}

